.ProductPageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 125px);
    width: 100%;
}

.ProductPage {
    display: grid;
    justify-content: center;
    grid-template-columns: 5fr 3fr;
    margin-top: 8px;
    padding: 5px;
    width: 100%;
    gap: 12px;
}

.desktop-chat {
    display: flex;
}

.mobile-chat {
    display: none;
}

.chat-btn {
    display: none;
}

/* Styles specific to mobile screens */
@media only screen and (max-width: 768px) {
    /* .ProductPageWrapper {
        position: relative;
    } */

    .ProductPage {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        /* position: fixed;
        top: 3em; */
    }


    .desktop-chat {
        display: none;
    }

    .mobile-chat {
        display: flex;
        transform: scale(0.93);
    }

    .chatWrapper {
        z-index: 100;
        position: fixed;
        top: 5em;
    }

    .chat-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: 60px;
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 101;
    }

    .chat-btn>img {
        width: 100%;
        object-fit: contain;
    }
}