:root {
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  /* background-color: #fff; */
}

body {
  /* background-color: #ccc; */
  margin: 0;
}